<mat-nav-list>
  <h2 matSubheader>Admin User</h2>
  <div class="profile-card">
    <div class="header">
      <h2>Osher Nati</h2>
      <h4>oshernati@gmail.com</h4>
    </div>
    <img
      src="https://scontent.ftlv1-1.fna.fbcdn.net/v/t1.0-9/111001764_3707506125944443_3223955451203423758_n.jpg?_nc_cat=111&ccb=3&_nc_sid=09cbfe&_nc_ohc=f9oQMYlzkcsAX_CNzDw&_nc_ht=scontent.ftlv1-1.fna&oh=03cad3fd26f3880e9a39d8bb407a58bf&oe=605573F0"
      alt="Osher Nati"
    />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/stocks">
    <mat-icon>show_chart</mat-icon>
    Stocks
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/terms">
    <mat-icon>description</mat-icon>
    Terms
  </a>

  <mat-divider></mat-divider>
</mat-nav-list>
