<mat-toolbar>
  <button mat-icon-button class="close-button" [mat-dialog-close]="true" (click)="onClose()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
</mat-toolbar>
<form class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container" style="margin-top: 40px;">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input id="termname" matInput placeholder="Term Name">
        </mat-form-field>
        <mat-form-field>
          <input id="description" matInput placeholder="Description">
        </mat-form-field>
        <mat-form-field>
          <input id="firstletter" matInput placeholder="First Letter">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" >Submit</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
