.header{
    background-image: #2980b9; /* fallback for old browsers */
    background-image: -webkit-linear-gradient(
      to bottom,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(
      to bottom,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    height: 25rem;
    padding: 8rem;
    &__header{
        text-align: center;
        font-size: 4rem;

    }
    &__para{
        text-align: right;
        font-size: 2rem;
      
    }
}