.balanceform{

    &__group{
      text-align: right;
      &__label{
        text-align: right;
      }
      &__input{
        text-align: right;
      }
    }
  
  }

  .h1{
      text-align: right;
  }