.balanceform{
    &__group{
      text-align: right;
      &__label{
        text-align: right;
      }
      &__input{
        text-align: right;
      }
    }
  
  }

  .score{
      text-align: right;
  }